.copy1{
	font-size: 17px;
}

.copy2{
	font-size: 17px;
}

.settingWrapper{
    margin: 0px 0px 10px 0px; 
    background: #997300;
    padding: 10px;
    color: #fff;
    border: 3px dashed #1c506c;
}